<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2><b>Instituições</b></h2>
        </div>
        <% if can? :create, Institution %>
          <div class="col-sm-6 group-btn-title">
            <a href="#addInstitutionModal" class="btn btn-success btn-title" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Criar</span></a>
          </div>
        <% end %>
      </div>
    </div>
    <table id="table" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Instituição</th>
          <th>Nota</th>
          <% if can? :create, Institution %>
          <th>Ações</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @institutions.each do |institution| %>
        <tr>
          <td>
            <%= institution.title %>
          </td>
          <td>
            <%= institution.grade %>
          </td>
          <% if can? :create, Institution %>
          <td>
            <a class="edit" data-toggle="modal" onclick="editInstitution(<%= institution.id %>,'<%= institution.title %>', <%= institution.grade %>)"><i class="material-icons" data-toggle="tooltip" title="Editar" data-original-title="Editar">&#xE254;</i></a>
            <a class="delete" data-toggle="modal" onclick="deleteInstitution(<%= institution.id %>)"><i class="material-icons" data-toggle="tooltip" title="Deletar" data-original-title="Deletar">&#xE872;</i></a>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <hr>

    <div class="filters">
      <div class="filters-title">
        <h5>Filtros de pesquisa</h5>
      </div>
      <div class="filters-form">
        <div class="col-6" style="text-align: center;">
          <div>
            <span>Instituição:</span>
            <br/>
            <input id="institutionFilter" type="text">
          </div>
        </div>
        <div class="col-6" style="text-align: center;">
          <div>
            <span>Nota Mínima:</span>
            <br/>
            <input id="minGradeFilter" type="text">
          </div>
          <div>
            <span>Nota Máxima:</span>
            <br/>
            <input id="maxGradeFilter" type="text">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="addInstitutionModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/institutions" method="post">
        <div class="modal-header">            
          <h4 class="modal-title">Adicionar Instituição</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">          
          <div class="form-group">
            <label for="addInstitutionTitle">Instituição</label>
            <input id="addInstitutionTitle" name="institution[title]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="addInstitutionGrade">Nota</label>
            <input id="addInstitutionGrade" name="institution[grade]" type="text" class="form-control" required>
          </div>        
        </div>
        <div class="modal-footer">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input name="commit" type="submit" class="btn btn-success" value="Adicionar">
        </div>
      </form>
    </div>
  </div>
</div>

<div id="deleteInstitutionModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="delete-form" action="" method="post">
        <div class="modal-header">            
          <h4 class="modal-title">Deletar Instituição</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">          
          <p>Você tem certeza que deseja deletar?</p>
          <p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="_method" value="delete">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input name="commit" type="submit" class="btn btn-danger" value="Deletar">
        </div>
      </form>
    </div>
  </div>
</div>

<div id="editInstitutionModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="edit-form" action="" method="post">
        <div class="modal-header">            
          <h4 class="modal-title">Editar Instituição</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">          
          <div class="form-group">
            <label for="editInstitutionTitle">Instituição</label>
            <input id="editInstitutionTitle" name="institution[title]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="editInstitutionGrade">Nota</label>
            <input id="editInstitutionGrade" name="institution[grade]" type="text" class="form-control" required>
          </div>  
        </div>
        <div class="modal-footer">
          <input type="hidden" name="_method" value="patch">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input name="commit" type="submit" class="btn btn-info" value="Salvar">
        </div>
      </form>
    </div>
  </div>
</div>  

<script>
  function deleteInstitution(id) {
    $("#delete-form").attr('action', '/institutions/' + id );
    $('#deleteInstitutionModal').modal('toggle');
  }
  function editInstitution(id, title, grade) {
    $("#edit-form").attr('action', '/institutions/' + id );
    $("#editInstitutionTitle").val( title );
    $("#editInstitutionGrade").val( grade );
    $('#editInstitutionModal').modal('toggle');
  }

  $.fn.dataTable.ext.search.push(
      function( settings, data, dataIndex ) {
          var minGradeFilter =  parseFloat( $('#minGradeFilter').val() );
          var maxGradeFilter =  parseFloat( $('#maxGradeFilter').val() );
          var institutionFilter =  parseInt( $('#institutionFilter').val() );
          var institution = parseInt( data[0] ) || 0;
          var grade = parseFloat( data[1] ) || 0;
   
          if ( ( isNaN( minGradeFilter ) && isNaN( maxGradeFilter ) ) ||
               ( isNaN( minGradeFilter ) && grade <= maxGradeFilter ) ||
               ( minGradeFilter <= grade   && isNaN( maxGradeFilter ) ) ||
               ( minGradeFilter <= grade   && grade <= maxGradeFilter ) )
          {
            if ( institutionFilter == institution || isNaN(institutionFilter) ) {
              return true;
            }
          }
          return false;
      }
  );
   
  $(document).ready(function() {
      var table = $('#table').DataTable();
      $('#minGradeFilter, #maxGradeFilter, #institutionFilter').keyup( function() {
          table.draw();
      } );
  } );

</script>
