<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2><b>Instituições</b></h2>
        </div>
        <div class="col-sm-6 group-btn-title">
          <a href="#addInstitutionModal" class="btn btn-success btn-title" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Criar</span></a>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Nota</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @institutions.each do |institution| %>
        <tr>
          <td>
            <%= institution.id %>
          </td>
          <td>
            <%= institution.title %>
          </td>
          <td>
            <%= institution.grade %>
          </td>
          <td>
            <a class="edit" data-toggle="modal" onclick="editInstitution(<%= institution.id %>,'<%= institution.title %>', <%= institution.grade %>)"><i class="material-icons" data-toggle="tooltip" title="Editar" data-original-title="Editar">&#xE254;</i></a>
            <a class="delete" data-toggle="modal" onclick="deleteInstitution(<%= institution.id %>)"><i class="material-icons" data-toggle="tooltip" title="Deletar" data-original-title="Deletar">&#xE872;</i></a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="clearfix">
      <div class="hint-text">Mostrando <b>5</b> de <b>25</b> resultados</div>
      <ul class="pagination">
        <li class="page-item disabled"><a href="#">Anterior</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item active"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">Próximo</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="addInstitutionModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/institutions" method="post">
        <div class="modal-header">            
          <h4 class="modal-title">Adicionar Instituição</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">          
          <div class="form-group">
            <label for="addInstitutionTitle">Nome</label>
            <input id="addInstitutionTitle" name="institution[title]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="addInstitutionGrade">Nota</label>
            <input id="addInstitutionGrade" name="institution[grade]" type="text" class="form-control" required>
          </div>        
        </div>
        <div class="modal-footer">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input name="commit" type="submit" class="btn btn-success" value="Adicionar">
        </div>
      </form>
    </div>
  </div>
</div>

<div id="deleteInstitutionModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="delete-form" action="" method="post">
        <div class="modal-header">            
          <h4 class="modal-title">Deletar Instituição</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">          
          <p>Você tem certeza que deseja deletar?</p>
          <p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="_method" value="delete">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input name="commit" type="submit" class="btn btn-danger" value="Deletar">
        </div>
      </form>
    </div>
  </div>
</div>

<div id="editInstitutionModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="edit-form" action="" method="post">
        <div class="modal-header">            
          <h4 class="modal-title">Editar Instituição</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">          
          <div class="form-group">
            <label for="editInstitutionTitle">Name</label>
            <input id="editInstitutionTitle" name="institution[title]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="editInstitutionGrade">Nota</label>
            <input id="editInstitutionGrade" name="institution[grade]" type="text" class="form-control" required>
          </div>  
        </div>
        <div class="modal-footer">
          <input type="hidden" name="_method" value="patch">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input name="commit" type="submit" class="btn btn-info" value="Salvar">
        </div>
      </form>
    </div>
  </div>
</div>  

  <script>
    function deleteInstitution(id) {
      $("#delete-form").attr('action', '/institutions/' + id );
      $('#deleteInstitutionModal').modal('toggle');
    }
    function editInstitution(id, title, grade) {
      $("#edit-form").attr('action', '/institutions/' + id );
      $("#editInstitutionTitle").val( title );
      $("#editInstitutionGrade").val( grade );
      $('#editInstitutionModal').modal('toggle');
    }
  </script>