<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2><b>Alunos</b></h2>
        </div>
        <% if can? :create, Student %>
          <div class="col-sm-6 group-btn-title">
            <a href="#addStudentModal" class="btn btn-success btn-title" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Criar</span></a>
          </div>
        <% end %>
      </div>
    </div>
    <table id="table" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Identificação</th>
          <th>Curso</th>
          <th>Instituição</th>
          <th>Nota</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
        <tr>
          <td>
            <%= student.student_id %>
          </td>
          <td>
            <%= student.course_id %>
          </td>
          <td>
            <%= student.institution_id %>
          </td>
          <td>
            <%= student.grade %>
          </td>
          <td>
            <a class="edit" data-toggle="modal" onclick="editStudent(<%= student.id %>,'<%= student.student_id %>', <%= student.course_id %>, <%= student.institution_id %>, <%= student.grade %>)"><i class="material-icons" data-toggle="tooltip" title="Editar" data-original-title="Editar">&#xE254;</i></a>
            <a class="delete" data-toggle="modal" onclick="deleteStudent(<%= student.id %>)"><i class="material-icons" data-toggle="tooltip" title="Deletar" data-original-title="Deletar">&#xE872;</i></a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <hr>

    <div class="filters">
      <div class="filters-title">
        <h5>Filtros de pesquisa</h5>
      </div>
      <div class="filters-form">
        <div class="col-6" style="text-align: center;">
          <div>
            <span>Curso:</span>
            <br/>
            <input id="courseFilter" type="text">
          </div>
          <div>
            <span>Instituição:</span>
            <br/>
            <input id="institutionFilter" type="text">
          </div>
        </div>
        <div class="col-6" style="text-align: center;">
          <div>
            <span>Nota Mínima:</span>
            <br/>
            <input id="minGradeFilter" type="text">
          </div>
          <div>
            <span>Nota Máxima:</span>
            <br/>
            <input id="maxGradeFilter" type="text">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div id="addStudentModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/students" method="post">
        <div class="modal-header">            
          <h4 class="modal-title">Adicionar Aluno</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">          
          <div class="form-group">
            <label for="addStudentId">Identificação</label>
            <input id="addStudentId" name="student[student_id]" type="text" class="form-control" required>
          </div>  
          <div class="form-group">
            <label for="addCourseId">Curso</label>
            <input id="addCourseId" name="student[course_id]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="addInstitutionId">Instituição</label>
            <input id="addInstitutionId" name="student[institution_id]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="addGrade">Nota</label>
            <input id="addGrade" name="student[grade]" type="text" class="form-control" required>
          </div>
        </div>
        <div class="modal-footer">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input name="commit" type="submit" class="btn btn-success" value="Adicionar">
        </div>
      </form>
    </div>
  </div>
</div>

<div id="deleteStudentModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="delete-form" action="" method="post">
        <div class="modal-header">            
          <h4 class="modal-title">Deletar Aluno</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">          
          <p>Você tem certeza que deseja deletar?</p>
          <p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="_method" value="delete">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input name="commit" type="submit" class="btn btn-danger" value="Deletar">
        </div>
      </form>
    </div>
  </div>
</div>

<div id="editStudentModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="edit-form" action="" method="post">
        <div class="modal-header">            
          <h4 class="modal-title">Editar Instituição</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">          
          <div class="form-group">
            <label for="editStudentId">Identificação</label>
            <input id="editStudentId" name="student[student_id]" type="text" class="form-control" required>
          </div>  
          <div class="form-group">
            <label for="editCourseId">Curso</label>
            <input id="editCourseId" name="student[course_id]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="editInstitutionId">Instituição</label>
            <input id="editInstitutionId" name="student[institution_id]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="editGrade">Nota</label>
            <input id="editGrade" name="student[grade]" type="text" class="form-control" required>
          </div>
        </div>        
        <div class="modal-footer">
          <input type="hidden" name="_method" value="patch">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input name="commit" type="submit" class="btn btn-info" value="Salvar">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function deleteStudent(id) {
    $("#delete-form").attr('action', '/students/' + id );
    $('#deleteStudentModal').modal('toggle');
  }
  function editStudent(id,student_id, course_id, institution_id, grade ) {
    $("#edit-form").attr('action', '/students/' + id );
    $("#editStudentId").val( student_id );
    $("#editCourseId").val( course_id );
    $("#editInstitutionId").val( institution_id );
    $("#editGrade").val( grade );
    $('#editStudentModal').modal('toggle');
  }

  $.fn.dataTable.ext.search.push(
      function( settings, data, dataIndex ) {
          var minGradeFilter =  parseFloat( $('#minGradeFilter').val() );
          var maxGradeFilter =  parseFloat( $('#maxGradeFilter').val() );
          var courseFilter =  parseInt( $('#courseFilter').val() );
          var institutionFilter =  parseInt( $('#institutionFilter').val() );
          var course = parseInt( data[0] ) || 0;
          var institution = parseInt( data[1] ) || 0;
          var grade = parseFloat( data[2] ) || 0;
   
          if ( ( isNaN( minGradeFilter ) && isNaN( maxGradeFilter ) ) ||
               ( isNaN( minGradeFilter ) && grade <= maxGradeFilter ) ||
               ( minGradeFilter <= grade   && isNaN( maxGradeFilter ) ) ||
               ( minGradeFilter <= grade   && grade <= maxGradeFilter ) )
          {
              if ( courseFilter == course || isNaN(courseFilter) ) {
                if ( institutionFilter == institution || isNaN(institutionFilter) ) {
                  return true;
                }
              }
          }
          return false;
      }
  );
   
  $(document).ready(function() {
      var table = $('#table').DataTable();
      $('#minGradeFilter, #maxGradeFilter, #courseFilter, #institutionFilter').keyup( function() {
          table.draw();
      } );
  } );

</script>