<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student.student_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course_id %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @student.institution_id %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
