<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2><b>Cursos</b></h2>
        </div>
        <% if can? :create, Course %>
        <div class="col-sm-6 group-btn-title">
          <a href="#addCourseModal" class="btn btn-success btn-title" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Criar</span></a>
        </div>
        <% end %>
      </div>
    </div>
    <table id="table" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Nota</th> 
          <th>Instituição</th>
          <% if can? :create, Course %>
          <th>Ações</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
        <tr>
          <td>
            <%= course.title %>
          </td>
          <td>
            <%= course.grade %>
          </td>
          <td>
            <%= course.institution_id %>
          </td>
          <% if can? :create, Course %>
          <td>
            <a class="edit" data-toggle="modal" onclick="editCourse(<%= course.id %>,'<%= course.title %>', '<%= course.institution_id %>', <%= course.grade %>)"><i class="material-icons" data-toggle="tooltip" title="Editar" data-original-title="Editar">&#xE254;</i></a>
            <a class="delete" data-toggle="modal" onclick="deleteCourse(<%= course.id %>)"><i class="material-icons" data-toggle="tooltip" title="Deletar" data-original-title="Deletar">&#xE872;</i></a>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
    <div class="filters">
      <div class="filters-title">
        <h5>Filtros de pesquisa</h5>
      </div>
      <div class="filters-form">
        <div class="col-6" style="text-align: center;">
          <div>
            <span>Curso:</span>
            <br/>
            <input id="courseFilter" type="text">
          </div>
          <div>
            <span>Instituição:</span>
            <br/>
            <input id="institutionFilter" type="text">
          </div>
        </div>
        <div class="col-6" style="text-align: center;">
          <div>
            <span>Nota Mínima:</span>
            <br/>
            <input id="minGradeFilter" type="text">
          </div>
          <div>
            <span>Nota Máxima:</span>
            <br/>
            <input id="maxGradeFilter" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="addCourseModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/courses" method="post">
        <div class="modal-header">
          <h4 class="modal-title">Adicionar Curso</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="addCourseTitle">Curso</label>
            <input id="addCourseTitle" name="course[title]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="addCourseGrade">Nota</label>
            <input id="addCourseGrade" name="course[grade]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="addCourseInstitutionId">Instituição</label>
            <input id="addCourseInstitutionId" name="course[institution_id]" type="text" class="form-control" required>
          </div>
        </div>
        <div class="modal-footer">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input name="commit" type="submit" class="btn btn-success" value="Adicionar">
        </div>
      </form>
    </div>
  </div>
</div>
<div id="deleteCourseModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="delete-form" action="" method="post">
        <div class="modal-header">
          <h4 class="modal-title">Deletar Curso</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Você tem certeza que deseja deletar?</p>
          <p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="_method" value="delete">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input name="commit" type="submit" class="btn btn-danger" value="Deletar">
        </div>
      </form>
    </div>
  </div>
</div>
<div id="editCourseModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="edit-form" action="" method="post">
        <div class="modal-header">
          <h4 class="modal-title">Editar Curso</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="editCourseTitle">Curso</label>
            <input id="editCourseTitle" name="course[title]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="editCourseGrade">Nota</label>
            <input id="editCourseGrade" name="course[grade]" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="editCourseInstitutionId">Instituição</label>
            <input id="editCourseInstitutionId" name="course[institution_id]" type="text" class="form-control" required>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="_method" value="patch">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input name="commit" type="submit" class="btn btn-info" value="Salvar">
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function deleteCourse(id) {
    $("#delete-form").attr('action', '/courses/' + id );
    $('#deleteCourseModal').modal('toggle');
  }
  function editCourse(id,title, institution_id, grade) {
    $("#edit-form").attr('action', '/courses/' + id );
    $("#editCourseTitle").val( title );
    $("#editCourseInstitutionId").val( institution_id );
    $("#editCourseGrade").val( grade );
    $('#editCourseModal').modal('toggle');
  }
  
  $.fn.dataTable.ext.search.push(
      function( settings, data, dataIndex ) {
          var minGradeFilter =  parseFloat( $('#minGradeFilter').val() );
          var maxGradeFilter =  parseFloat( $('#maxGradeFilter').val() );
          var courseFilter =  $('#courseFilter').val();
          var institutionFilter =  $('#institutionFilter').val();
          var course = data[0];
          var institution = data[2];
          var grade = parseFloat( data[1] ) || 0;
   
          if ( ( isNaN( minGradeFilter ) && isNaN( maxGradeFilter ) ) ||
               ( isNaN( minGradeFilter ) && grade <= maxGradeFilter ) ||
               ( minGradeFilter <= grade   && isNaN( maxGradeFilter ) ) ||
               ( minGradeFilter <= grade   && grade <= maxGradeFilter ) )
          {
              if ( courseFilter == course || courseFilter == '') {
                if ( institutionFilter == institution || institutionFilter == '' ) {
                  return true;
                }
              }
          }
          return false;
      }
  );
   
  $(document).ready(function() {
      var table = $('#table').DataTable();
      $('#minGradeFilter, #maxGradeFilter, #courseFilter, #institutionFilter').keyup( function() {
          table.draw();
      } );
  } );
  
</script>
